{% extends 'base.html' %} {% block content %}
<h2>About</h2>
<p>
    The formation of the group grew out of a meeting Gandalf had with Thorin in Bree which kindled Thorin's interest in recapturing his long lost family inheritance. (Thorin's grandfather had been the king of the Lonely Mountain when Smaug came and took it.)
    Remembering that he had once known an adventurous Hobbit on his travels in the Shire, Gandalf decided to add Bilbo to their company because he knew that stealth and cunning were preferable to force. Gandalf also believed that someone like Bilbo could
    keep the sometimes prideful and stubborn Dwarves from rash action. The superstitious Dwarves also considered thirteen to be an unlucky number, and as Gandalf had planned to leave on other business, welcomed a fourteenth to fill into their party.
</p>
<div class="row featurette">
    <div class="col-md-7">
        <h3>Thorin Oakenshield</h3>
        <p>
            In the year TA 2746, Thorin II was born to Dwarven prince Thráin II in the mountain city of The Lonely Mountain. Early in his youth, he and the other Dwarves of the Lonely Mountain were forced to flee by the dragon Smaug in TA 2770. While in exile, he
            quickly grew to become a capable warrior. This was demonstrated when he participated in the Battle of Azanulbizar in TA 2799. He marched with one of the Dwarven armies beneath the East-gate of Moria. At some point in the fighting, his shield
            broke, and using an oaken tree branch found on the floor as a shield, he gained the epithet "Oakenshield," which would remain with him even in death.[2] Thorin eventually became King-in-Exile of Durin's Folk after his father went missing,
            and presumably died in the dungeons of Dol Guldur.
        </p>
    </div>
    <div class="col-md-5">
        <img src="http://www.panhistoria.com/Stacks/Novels/characterimages/T27293.jpg">
    </div>
    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://vignette.wikia.nocookie.net/lotr/images/b/b4/The-Hobbit-Fili-and-Kili.jpg/revision/latest?cb=20110714202952">
        </div>
        <div class="col-md-7">
            <h3>Fili and Kili</h3>
            <p>
                Fíli and Kíli were brothers, the youngest of the thirteen dwarves who set out on Thorin Oakenshield's quest along with Gandalf and Bilbo Baggins to reclaim the Lonely Mountain for the Dwarves.
            </p>
        </div>

    </div>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Óin</h3>
            <p>
                Óin was the older brother of Glóin, cousin of Dwalin and Balin, and uncle of Gimli. He usually wore a brown-hooded cloak when travelling. Óin fought in the Battle of Azanulbizar along with Thorin Oakenshield, and in TA 2941 joined with Thorin and Company
                on the quest to reclaim the Lonely Mountain wearing a brown hood.[2] Óin was one of the Dwarves who bet that Bilbo would come along with them to reclaim the Lonely Mountain. Óin and his brother Glóin were usually in charge of preparing
                the fire for the Company. He fought in and survived the Battle of the Five Armies, and later settled in the Lonely Mountain along with many other dwarves of The Company of Thorin.
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://vignette.wikia.nocookie.net/middle-earth-film-saga/images/a/af/Oin.png/revision/latest?cb=20160713171515">
        </div>
        <div class="row featurette">
            <div class="col-md-5">
                <img src="https://vignette.wikia.nocookie.net/lotr/images/f/fc/Gloin_2.jpg/revision/latest?cb=20120908171710">
            </div>
            <div class="col-md-7">
                <h3>Glóin</h3>
                <p>

                    in: Featured articles, Characters, Dwarves, and 9 more Glóin The one ring animated English VIEW SOURCE SHARE This article is about the member of Thorin's Company. For the king of Durin's Folk, see Glóin. Glóin, as portrayed by Peter Hambleton Glóin Biographical
                    information Birth TA 2783 Death FO 15 Spouse Unnamed wife Children Gimli Age 253 Physical description Race Dwarves Gender Male Hair Red, later White Culture Durin's Folk, Dwarves of the Lonely Mountain Peter Jackson's films or other
                    media Actor Peter Hambleton Voice Jack DeLeon, in the Rankin/Bass version of The Hobbit Glóin son of Gróin was one of the Dwarves of Thorin II Oakenshield's company who set out to reclaim the Lonely Mountain in the Quest of Erebor.
                    He was also the father of Gimli, who became a member of the Fellowship of the Ring. Glóin chiefly appears in The Hobbit as a supporting character. Glóin also appears in The Fellowship of the Ring during the Fellowship's stay in Rivendell.
                </p>
            </div>

        </div>

        <div class="row featurette">
            <div class="col-md-7">
                <h3>Balin</h3>
                <p>
                    Balin was born before Thorin Oakenshield was. He was the older brother of Dwalin and son of Fundin. Not only was he friends with Thorin, but also his mentor. Smaug attacked Erebor around TA 2777 and fled with his family. Balin later fought and survived
                    in the Battle of Moria.
                </p>
            </div>
            <div class="col-md-5">
                <img src="https://vignette.wikia.nocookie.net/lotr/images/5/52/Balin.jpg/revision/latest?cb=20120911171656">
            </div>
            <div class="row featurette">
                <div class="col-md-5">
                    <img src="https://vignette.wikia.nocookie.net/middle-earth-film-saga/images/e/e4/Dwalin_3.png/revision/latest?cb=20160624201920">
                </div>
                <div class="col-md-7">
                    <h3>Dwalin</h3>
                    <p>
                        Dwalin was born two years after Smaug attacked Erebor to Fundin and his wife, TA 2772, also two years before his cousin Oin was born. He was close to his older brother, Balin and was best friends with Thorin Oakenshield, the King Thrór's grandson. In
                        his teenage years, Dwalin sometime acquired tattoos on his arms, and later, on his head [1]. Dwalin presumably lived with his family in many other human settlements before they even settled in the Blue Mountains.
                    </p>
                </div>

            </div>

            <div class="row featurette">
                <div class="col-md-7">
                    <h3>Ori</h3>
                    <p>
                        Ori was the brother of Dori and Nori and one of the twelve companions of Bilbo Baggins and Thorin Oakenshield. After the Quest of Erebor, Ori followed his distant relative Balin on a quest to reclaim Moria. However the colony was short lived and Ori and
                        several other dwarves were killed by the Orcs that lived in Moria. His death presumably was reported and heart-broke his brothers.
                    </p>
                </div>
                <div class="col-md-5">
                    <img src="https://vignette.wikia.nocookie.net/middle-earth-film-saga/images/6/6b/OriTheHobbita.png/revision/latest?cb=20161117000521">
                </div>
                <div class="row featurette">
                    <div class="col-md-5">
                        <img src="https://vignette.wikia.nocookie.net/middle-earth-film-saga/images/1/12/Dori_the_hobbit.png/revision/latest?cb=20160712020941">
                    </div>
                    <div class="col-md-7">
                        <h3>Dori</h3>
                        <p>
                            Dori was born in TA 2827. His mother was a distant descendant of Durin. He was ten years older than his brother Nori and thirty-eight years older than their younger brother, Ori. In TA 2941, Dori went on the quest to reclaim the Lonely Mountain. He was
                            the second to last characters to arrive at Bilbo's house toppling on the floor with the rest of the guests (except Balin, Dwalin, Fili and Kili and Thorin) falling on the ground. He offered Gandalf first a camomile tea and
                            then red wine. Dori was also an attendance to the meeting there. Dori later rescued Bilbo Baggins, who foolishly followed with Fili and Kili's plan to rescue the ponies himself. He also crossed through Rivendell and survived
                            through the struggle in the Misty Mountains. Dori was also one of the dwarves to go with Thorin to the Lonely Mountain. He also fought and surived the Battle of the Five Armies.
                        </p>
                    </div>

                </div>

                <div class="row featurette">
                    <div class="col-md-7">
                        <h3>Nori</h3>
                        <p>
                            Nori was born approximately one hundred and four years before the Quest of Erebor. He was the brother of Dori and Ori. Nori was once a thief for a criminal but ever since athorities were after him, Nori joined his brothers during the Quest of Erebor.
                            First, meeting Bilbo Baggins in the Shire, Nori fell on top of others, while they were crushed by Bombur, falling on the hobbit's matt.
                        </p>
                    </div>
                    <div class="col-md-5">
                        <img src="https://vignette.wikia.nocookie.net/middlearthfilmseries/images/d/d8/NoriProfile.png/revision/latest?cb=20171209172715">
                    </div>
                    <div class="row featurette">
                        <div class="col-md-5">
                            <img src="https://vignette.wikia.nocookie.net/middle-earth-film-saga/images/e/e0/Bifur.png/revision/latest?cb=20160625182459">
                        </div>
                        <div class="col-md-7">
                            <h3>Bifur</h3>
                            <p>
                                Bifur was one of the original fourteen members of Thorin's Company and the twelve companions of Bilbo Baggins and Thorin Oakenshield. He was also the paternal cousin of Bofur and Bombur. He once had an ax in his head due to an accident with an Orc and
                                was not ever able to speak the Westron Language ever again. He went on the Quest of Erebor from April 24 to November 23 and also survived the Battle of the Five Armies.
                            </p>
                        </div>

                    </div>

                    <div class="row featurette">
                        <div class="col-md-7">
                            <h3>Bofur</h3>
                            <p>
                                Bofur was a descendant of the Dwarves of Rhudaur, but was not of Durin's Folk. He and his family hailed from the Blue Mountains. As such, they felt less strongly about the quest to reclaim the Lonely Mountain from the dragon Smaug, more interested in
                                the adventure than a home they'd never seen
                            </p>
                        </div>
                        <div class="col-md-5">
                            <img src="https://vignette.wikia.nocookie.net/middle-earth-film-saga/images/e/e5/Bofur2.png/revision/latest?cb=20160625182301">
                        </div>
                        <div class="row featurette">
                            <div class="col-md-5">
                                <img src="https://vignette.wikia.nocookie.net/middle-earth-film-saga/images/f/fd/Bombur.png/revision/latest?cb=20160625183813">
                            </div>
                            <div class="col-md-7">
                                <h3>Bombur</h3>
                                <p>
                                    Bombur a member of Thorin and Company. Along with his brother Bofur and their cousin Bifur, they are the only members of the company not belonging to Durin's Folk. Instead, they are appearantly Broadbeams from the Blue Mountains who joined Thorin's Halls.
                                </p>
                            </div>

                        </div>
                        <div class="row featurette">
                            <div class="col-md-7">
                                <h3>Gandalf</h3>
                                <p>
                                    Gandalf (Norse; IPA: [gand:alf] - "Elf of the Wand" or "Wand-elf") the Grey, later known as Gandalf the White, and originally named Olórin (Quenya; IPA: [oˈloːrin] - "Dreamer" or "Of Dreams"), was an Istar (Wizard), sent to Middle-earth in the Third Age
                                    to combat the threat of Sauron. He joined Thorin and his company to reclaim the Lonely Mountain from Smaug, convoked the Fellowship of the Ring to destroy the One Ring, and led the Free Peoples in the final campaign
                                    of the War of the Ring.
                                </p>
                            </div>
                            <div class="col-md-5">
                                <img src="https://vignette.wikia.nocookie.net/lotr/images/e/e7/Gandalf_the_Grey.jpg/revision/latest?cb=20121110131754">
                            </div>
                            {% endblock %}